* {
    box-sizing: border-box;
    width: 100%;
}

body{
    margin: 0%;
    position: relative;
    min-height: 100%;
    background-color: aliceblue;
    height: 1000px;
}

.bar{
  background-color:whitesmoke;
  height: 75px;
  position: fixed;
}

.center{
  background-color: #282A35!important;
  color: white!important;
}

.content{
  margin-left: auto;
  margin-right: auto;

}
